* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%; /* make sure html is at least as tall as the viewport */
  position: relative;
}
body {
  height: 100%;
  background: black;
  display: grid;
  place-items: center;
  border: 2px solid gray;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  /*     border-radius: 50%; */
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: gray;
  position: absolute;
}

.one {
  left: 0;
  top: 0;
  background: white;
  /*   background: red; */
}
.two {
  right: 0;
  bottom: 0;
  background: white;
  /*   background: blue; */
}

/* FAST */
.orbit-one {
  left: 0;
  top: 0;
  position: absolute;
  /*   border: 2px solid red; */
  width: 100%;
  height: 100%;
  animation: rotation .75s linear infinite;
}

/* SLOW */
.orbit-two {
  left: 0;
  top: 0;
  position: absolute;
  /*   border: 2px solid blue; */
  width: 100%;
  height: 100%;
  /*   ORIGINAL */
    animation: rotation 1.1s linear infinite;
  /*   FASTER */
  /* animation: rotation 1.5s linear infinite; */
}
